#cima{
    width: 100vw;
    height: 8vh;
    margin-top: 0vw;
    margin-left: 0vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    width: 140px;
    height: 140px;
    margin-top: -4vh;
    margin-left: 0%;
}
.botao{
    font-size: 0.9em ;
    background-color: #737373;
    border-radius: 16px;
    width: 8vw;
    height: 7vh;
    margin-left: 1vw;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#firstbotao{
    margin-left: 45vw;
}
.botao:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
body{
    background-color: #f6f5f2;
}
#ca{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 25vw;
    background-color: rgba(145, 145, 145, 0.329); 
    border: 1px solid transparent;
    border-radius: 16px;
}
.inputs{
    width: 47vw;
    height: 3vh;
    margin-left: 1vw;
    border: 5px solid transparent;
    border-radius: 16px;
    padding: 0vh 0.5vw 0vh 0.5vw ;
}
.labels{
    margin-top: 1vh;
    font-size: 1em;
    margin-left: 1vw;
}
h2{
    margin-left: 15vw;
    font-size: 1.9em;
}
button{
    background-color: rgb(221, 40, 221);
    margin-left: 3vw;
    width: 20vw;
    height: 5vh;
    border: 1px solid transparent;
    border-radius: 16px;
    color: white;
    transition: 0.2s ease-in-out;
}
#div_submit{
    margin-top: 2vh;
}
button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
textarea{
    width: 48vw;
    margin-left: 1vw;
}
