#cima{
    width: 100vw;
    height: 8vh;
    margin-top: 0vw;
    margin-left: 0vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    width: 140px;
    height: 140px;
    margin-top: -4vh;
    margin-left: 0%;
}
.botao{
    font-size: 0.9em ;
    background-color: #737373;
    border-radius: 16px;
    width: 8vw;
    height: 7vh;
    margin-left: 1vw;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: white;
}
#firstbotao{
    margin-left: 45vw;
}
.botao:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
body{
    background-color: #f6f5f2;
    overflow: hidden;
}
#esq{
    position: absolute;
    width: 50%;
    height: 70vh;
    margin-top: 10%;

}
#mona{
    position: absolute;
    width: 50%; 
    height: 50vh;
    margin-left: 25%;
}
#txmona{
    position: absolute;
    font-size: 20px;
    margin-top: 55vh;
}
#dir{
    position: absolute;
    width: 50%;
    height: 70vh;
    margin-top: 10%;
    margin-left: 50%;

}
#gri{
    position: absolute;
    width: 50%; 
    height: 50vh;
    margin-left: 25%;
}
#txgri{
    position: absolute;
    font-size: 20px;
    margin-top: 55vh;
}